[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "==12.0"
psutil = "==5.9.8"
pyinstaller = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
